<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= yield(:title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="columns is-centered">
      <div class="column p-5 is-four-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-thirdd-fullhd">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
